In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('source.csv')

In [3]:
data.head()

,name,link,full_path,dob,taken
0,A. Rafiq,https://id.wikipedia.org/wiki/A._Rafiq,NaN,Mar 5 1948,NaN
1,A. Riyanto,https://id.wikipedia.org/wiki/A._Riyanto,NaN,Nov 23 1943,NaN
2,Abiem Ngesti,https://id.wikipedia.org/wiki/Abiem_Ngesti,NaN,Oct 30 1978,NaN
3,Ade Manuhutu,https://id.wikipedia.org/wiki/Ade_Manuhutu,NaN,NaN,NaN
4,Adera,https://id.wikipedia.org/wiki/Adera,NaN,NaN,NaN

In [8]:
kel = [1]*200
kel.extend([0]*406)
kel.extend([1]*907)
kel.extend([0]*)

SyntaxError: invalid syntax (<ipython-input-8-c78fe68c893a>, line 4)

In [3]:
data = pd.read_csv('indon_result.csv')
data.head()

                                                    full_path  age  gender
./foto/Resized.jpg                                       23.0   23       1
./foto/Bghddad-alwi.jpg                                  47.0   47       1
./foto/Igor_Tamerlan_enregistrant_%C3%A0_Paris.jpg       64.0   -1       1
./foto/Once_Dewa_2005.JPG                                35.0   35       1
./foto/Tompi.jpg                                         27.0   27       1

In [21]:
data.columns

Index(['full_path', 'age', 'gender'], dtype='object')

In [ ]:
data = data.loc[data['age'] != -1]
data.to_csv('indonesia.csv', index=False)